body{
    text-align: center;
}

input{
    margin: 4px;
}

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img{
    width: 400px;
    height: 400px;
}

#images{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}