<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remind Password</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Remind Password</h1>
    <div class="logDiv">
        
        <form name="remindForm">
            <div id="error"></div>
            <span>Enter your account`s email:</span>
            <input class="inputLabel" required type="text" name="email" placeholder="Email" size="25"><br>
            <br>
            
        </form>
    </div>
    <input id="subm" type="submit" value="Send">
    <br>

    <script>
        let sendButton = document.getElementById('subm');

        sendButton.addEventListener('click', function (e) {
            e.preventDefault();
            let remform = document.forms['remindForm'];

            let email =  remform.elements['email'].value;

            let userReq = JSON.stringify({
                email: email,
            })

            let request = new XMLHttpRequest()
            request.open('POST', '/', true);
            request.setRequestHeader( 'Content-Type', 'application/json');
            request.addEventListener('load', function () {
                    let res = JSON.parse(request.response);
                    console.log("\n STATUS " + res.status);
                    const messageContainer = document.getElementById('error');

                    if (res.status == 'SUCCESS') {
                        messageContainer.innerHTML = '';
                        const successMessage = document.createElement('div');
                        successMessage.textContent = `${res.status} Your password is sent on your email.`;
                        messageContainer.appendChild(successMessage);
                    }
                    else {
                        messageContainer.innerHTML = '';
                        const errorMessage = document.createElement('div');
                        errorMessage.textContent = `${res.status} There is no account with this email.`;
                        messageContainer.appendChild(errorMessage);
                    }
                });
            request.send(userReq);
            })
    </script>

</body>
</html>